.tasklist {
    background-color: rgb(51, 51, 51);
    color: white;
    height: 100vh;
    width: 100vw;

    text-align: left;

    .teamName {
        padding: 10px;
        margin-bottom: 10px;
    }

    .searchBox {
        margin-left: 10px;
        border-style: solid;
        border-width: 1px;
        padding-left: 20px;
        background-color: inherit;
        color: inherit;
    }

    .taskLabel {
        color: darkgrey;
        font-size: .6em;
        margin-top: 20px;
        font-style: italic;
    }

    .task {
        font-size: .8em;
        padding: 5px;

        .icon {
            color: grey;
        }
    }

    .task:hover, .taskAdd:hover {
        background-color: white;
        color: rgb(51, 51, 51);
    }

    .taskAdd {
        font-size: .8em;
        padding: 5px;
    }

    .taskAddForm {

        margin-top: 5px;

        input {
            background-color: inherit;
            color: inherit;
            border-style: none;
            font-size: .6em;
        }

        input::placeholder {
            color: lightgray;
        }

        .add-icon {
            padding: 6px;
            font-size: .9em;
            color: grey;
        }
    }

    .icon {
        padding: 5px;
    }
}

.messenger {
    height: 100vh;
    width: 100vw;

    text-align: left;

    .title {
        margin-left: 20px;
        font-weight: 700;
    }

    .title-edit {
        margin-top: 20px;
    }
    
    .description {
        margin-left: 20px;
        font-size: .7em;
    }

    .btn-group-toggle {
        text-align: center;
        display: block;
        margin-top: 10px;
    }

    .btn-state {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
        border-radius: 5px !important;        
    }

    .btn-group-toggle {
        .completed.active {
            background: green !important;
        }

        .blocked.active {
            background-color:red !important;
        }
    }

    .bar {
        height: 5px;
        background-color: rgb(51, 51, 51);
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .message {
        font-size: .7em;
        margin-top: 10px;

        .date {
            color: grey;
            font-style: italic;
        }

        .icon {
            padding: 5px;
        }
    }

    .messageBox {
        margin-left: 10px;
        margin-bottom: 10px;
        border-style: solid;
        border-width: 1px;
        padding-left: 20px;
        position: fixed;
        bottom: 0px;
        width: 42vw;
    }

    .modal {

        .modal-title {
            font-size: .8em;
        }

        .modal-body {
            font-size: .6em;
        }

    }
}

.blue {
    color: lightskyblue !important;
}

.orange {
    color: orange !important;
}

.red {
    color: red !important;
}

.green {
    color: green !important;
}